

a {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.conteudo {
  background-color: #f8f7f1;
  height: 800px;
  width: 100%;
  border-radius: 12px;
}


.head {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.head > .dashboard > p {
  padding: 10px;
  color: black;
}

.search {
  background-color: #f5f8fb;
  height: 40px;
  width: 400px;
  border-radius: 12px;
  justify-content: start;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.lateral {
  display: flex;
  flex-direction: column;
  background-color: #f1eee4;
  height: 800px;
  gap: 20px;
  border-radius: 18px;
  width: 100%;
}

.profits {
  background-color: #f5f8fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 18px;
  height: 250px;
}

.title {
  padding-top: 40px;
}

.porcentagem {
  display: flex;
}

.recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box {
  display: flex;
  background-color: #f0f0f0;
  height: 50px;
  width: 300px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 18px;
  justify-content: space-around;
}

.box > .image {
  border-radius: 50%;
  background-color: #fff;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.total {
  background-color: #c6d0bc;
  height: 100px;
  width: 150px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.receita {
  background-color: #f6d78b;
  height: 100px;
  width: 150px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.despesa {
  background-color: #a2a7fd;
  width: 150px;
  height: 100px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.historico {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  align-items: center;
}

.configraf {
  display: flex;
}

.grafico {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: end;
}

.percentual {
  display: flex;
  flex-direction: column;
}

.percentual > p {
  padding: 10px;
}

span {
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 170px;
  width: 40px;
  margin: 10px;
  border-radius: 18px;
}
