.navbar {
  align-items: self-start;
  background-color: hsl(0, 0%, 17.25%);
  display: flex;
}

a {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.ferramentas {
  font-size: 16px;
  gap: 10px;
  color: #f0f0f0;
}

.ferramentas > p {
  padding: 20px 10px;
}

.logo {
  color: #ffff;
}
.navbar > h2 {
  color: #ffff;
}
.perfil {
  display: flex;
  align-items: center;
  color: #ffff;
}
.perfil > p {
  padding: 10px;
}

.perfil > .nome {
  font-size: 18px;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: black;
  width: 100px;
  height: 100px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.receita {
  text-align: center;
  margin: 30px;
}

.add_excluir {
  text-align: center;
  margin: 20px;
}

.dadodespesa > .btn-light {
  width: 100%;
  margin-top: 10px;
}

.teste {
  display: none;
}

.modal-body > p {
  margin: 4px;
}
