.navbar {
  align-items: self-start;
  background-color: hsl(0, 0%, 17.25%);
  display: flex;
}

a {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.receita {
  text-align: center;
  margin: 30px;
}

.add_excluir {
  text-align: center;
  margin: 20px;
}

.receitas {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  gap: 10px;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

.modal-body > p {
  margin: 5px;
}

input,
textarea {
  border-radius: 6px;
  text-align: center;
}

.inptdata {
  gap: 10px;
  display: flex;
}

.data {
  border: 2px solid;
  border-radius: 6px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
