.navbar {
  align-items: self-start;
  background-color: hsl(0, 0%, 17.25%);
  display: flex;
}

a {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.meta,
.add_excluir,
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.modal {
  text-align: center;
}
.card-body {
  text-align: center;
}

.dadosmeta > button {
  width: 100%;
  margin-top: 20px;
}

.saldo {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 20px;
}

.saldoinicial,
.saldodespesas,
.saldoreceita {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
}
