.navbar {
  align-items: self-start;
  background-color: hsl(0, 0%, 17.25%);
  display: flex;
  width: 100%;
}

.navbar > a {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

section {
  min-height: 100vh;
  padding-top: 3rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#Outubro {
  background-color: aqua;
}

#Novembro {
  background-color: bisque;
}

.otnav > ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  background-color: rgb(253, 253, 253);
  height: 2rem;
  width: 100%;
  justify-content: start;
  margin-top: 30px;
  top: 20px;
}

.navbar,
.otnav > ul {
  z-index: 2;
  position: fixed;
}

.otnav > ul > li > a {
  text-decoration: none;
  color: black;
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  gap: 40px;
}

.bar {
  background-color: #8ba3bd;
  margin: 0 5px;
  text-align: center;
  position: relative;
  height: 350px;
  border-radius: 12px;
  width: 100px;
}

.bar > span {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.cards {
  display: flex;
  gap: 10rem;
}

.branco4 {
  background-color: rgb(241, 241, 241);
  height: 90px;
}

.none {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
