.navbar {
  align-items: self-start;
  background-color: hsl(0, 0%, 17.25%);
  display: flex;
}

.navmobile {
  background-color: #333;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 2;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.main {
  min-height: 100vh;
}

h4 {
  text-align: center;
}

.navmobile > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5rem;
}

.navmobile > ul > li > a {
  text-decoration: none;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fraunces", serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.history {
  gap: 20px;
}

.bar-chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 300px;
  gap: 40px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.sadliq > span {
  color: green;
}

.saddesp > span {
  color: red;
}

.saddesp,
.sadliq {
  display: flex;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 12px;
  padding: 12px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255) ede;
  color: #000000;
  justify-content: center;
}

.lancamentos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 20px;
  align-items: start;
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.lancamentos > .descrimeta {
  display: flex;
  gap: 0px;
  flex-direction: column;
  justify-content: center;
}

.lancamentos > .valormeta {
  display: flex;
  gap: 10px;
}

.progre {
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.progress {
  margin: 0px 20px;
}

.cut {
  background-color: #333;
  width: 90%;
  height: 4px;
  margin: 20px;
}

.ultlanc {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0px 20px;
  align-items: center;
}
.lista {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.despesa > span {
  color: red;
}

.receita > span {
  color: green;
}
